header {
    background-color: blueviolet;
    /* margin: 0; */
}

ul {
    text-decoration: none;
    background-color: khaki;
    width: 50%;
}
.header-gnav {
    background-color: lavender;
}

.container {
    background-color: coral;
}

.main {
    background-color: darkgoldenrod;
}

.side {
    background-color: darkgreen;
}

footer {
    background-color: hotpink;
}