body {
    font-family: "Avenir Next";
}
li {
    list-style: none;
}

header {
    height: 120px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
}

.logo-img {
    width: 100px;
    height: auto;
}

.global-nav {
    padding-left: 30px;

}

.nav {
    float: left;
    padding-right: 50px;
    text-decoration: none;
    color: darkslategrey;
    font-weight: bold;
}

.nav:hover {
    color: lightgrey;
}
.nav a{
    display: inline-block;
    text-decoration: none;
    color: darkslategrey;
    font-weight: bold;
}

.nav a:hover {
    color: lightgrey;
}

